@model MySecuredApp.MyUserDB.MyUser
@{
}


<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card-body"><h2>Register</h2></div>
            <div asp-validation-summary="ModelOnly">

            </div>
            <div class="content">
                <form method="post" asp-action="RegisterUser" asp-controller="MyAccount">
                    <div class="user-details">

                        <div class="input-box">

                            <input type="text" placeholder="Enter your username" asp-for="UserName" class="form-control">
                            <span  class="text-danger" asp-validation-for="UserName"></span>
                        </div>
                        <div class="input-box">
                            <input type="text" placeholder="Enter your email" asp-for="EmailID" class="form-control">
                            <span  class="text-danger" asp-validation-for="EmailID"></span>
                        </div>

                        <div class="input-box">

                            <input type="text" placeholder="Enter your password" asp-for="HashPassword" class="form-control">
                            <span  class="text-danger" asp-validation-for="HashPassword"></span>
                        </div>



                    </div>
                    <div>
                        <input class="btn-block" type="submit" value="Register">
                    </div>
                </form>
            </div>
        </div>

    </div>


</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}